/* Navigation */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 12px 20px;
gap: 12px;

position: absolute;
width: 360px;
height: 44px;
left: 0px;
top: 0px;

background: #103562;
border-radius: 0px 0px 20px 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 1261153821 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 320px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* icon switch */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 8px;

display: none;
width: 36px;
height: 36px;

/* Hang24/Cloud-20% */
background: rgba(234, 239, 243, 0.2);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 1261153769 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 320px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* magnifying-glass */

display: none;
width: 14px;
height: 14px;

font-family: 'Font Awesome 6 Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 14px;
/* identical to box height */
display: flex;
align-items: center;

/* Hang 24/Dark Blue */
color: #081D3C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* I’m tittle */

width: 320px;
height: 20px;

/* Hang24/Header/H4

card/ subsection title
*/
font-family: 'Kantumruy Pro';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
display: flex;
align-items: center;

/* Hang 24/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 1261153880 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

display: none;
width: 80px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Search Bar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

display: none;
width: 320px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
